In [1]:

import pandas as pd
import re
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
from plotly.subplots import make_subplots
import datetime
import seaborn as sns
import pickle

basepath = 'C:\\Users\\Joyqiao\\Documents\\CMU\\RA\\HIGHMARK Trajectory claim\\HIghmark Project'

In [2]:
#read in file
def load_obj(name ):
    with open(name + '.pkl', 'rb') as f:
        return pickle.load(f)

In [3]:
tma_cluster_dict = load_obj(basepath+'\\data\\3a_tma_cluster_dict' )

Outpatient

In [4]:
cd C:\\Users\\Joyqiao\\Documents\\CMU\\RA\\HIGHMARK Trajectory claim\\HIghmark Project\\data\\cleaned_data

C:\Users\Joyqiao\Documents\CMU\RA\HIGHMARK Trajectory claim\HIghmark Project\data\cleaned_data

In [5]:
 pd.read_csv('cleaned_1.csv').columns

C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,23,25,38,39,40,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Unnamed: 0', 'Unnamed: 0.1', 'claim_type', 'line_number',
       'place_service', 'eacl_prv_alcrg_at', 'mmn_mr_hcg_catg_cd', 'proc_code',
       'proc_code_format', 'prin_proc_mod', 'ip_prn_proc_code',
       'ip_prn_proc_format_cd', 'ip_other_proc1', 'ip_other_proc2',
       'ip_other_proc3', 'ip_other_proc4', 'ip_other_proc5', 'ip_other_proc6',
       'ip_other_proc7', 'ip_other_proc8', 'ip_other_proc9', 'ip_other_proc10',
       'pri_diag_cd', 'prim_diag_qfr_cd', 'admitting_diag_cd',
       'admi_diag_qfr_cd', 'dx1', 'dx2', 'dx3', 'dx4', 'dx5', 'dx6', 'dx7',
       'dx8', 'dx9', 'dx10', 'dx11', 'dx12', 'dx13', 'dx14', 'dx15', 'dx16',
       'dx17', 'dx18', 'dx19', 'dx20', 'dx21', 'dx22', 'dx23', 'dx24', 'dx25',
       'dx26', 'diag_qfr_cd_001', 'admission_source', 'admission_type',
       'discharge_status', 'current_drg', 'bill_provider_specialty',
       'TMA_Acct', 'claim_number_deidentified',
       'provider_bill_npi_deidentified', 'icrd_dt_deidentified',
       'admission_date_deidentified', 'discharge_date_deidentified'],
      dtype='object')

In [6]:
proc_cost = pd.DataFrame()
for i in range(17):
    clean = pd.read_csv('cleaned_{}.csv'.format(str(i)))
    g = clean.groupby(['TMA_Acct','claim_type','proc_code','proc_code_format'])['eacl_prv_alcrg_at'].sum().reset_index()
    proc_cost = pd.concat([proc_cost,g],axis = 0)

C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,23,25,37,39,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,23,25,36,37,38,39,40,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,23,25,37,38,39,40,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,23,25,37,38,40,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,23,25,39,40,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,9,10,11,12,13,14,15,16,17,18,19,20,21,23,24,25,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,23,25,40,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,10,11,12,13,14,15,16,17,18,19,20,21,23,24,25,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (12,13,14,15,16,17,18,19,20,21,23,25,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (13,14,15,16,17,18,19,20,21,23,25,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Joyqiao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (11,13,14,15,16,17,18,19,20,21,23,25,40,41,42,43,44,45,46,47,48,49,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Iterate by cluster

In [7]:
cd C:\\Users\\Joyqiao\\Documents\\CMU\\RA\\HIGHMARK Trajectory claim\\HIghmark Project\\data

C:\Users\Joyqiao\Documents\CMU\RA\HIGHMARK Trajectory claim\HIghmark Project\data

In [8]:
hcpc_doc = pd.read_excel('HCPC2021_JAN_TRANS_ANWEB.xlsx',sheet_name = 0)

In [9]:
def top_proc_cost(claim_type,cluster):
    cluster_selected = proc_cost.loc[proc_cost['TMA_Acct'].isin(tma_cluster_dict[cluster]),:]
    claim_type_selected = cluster_selected.loc[cluster_selected['claim_type'] == claim_type,:]
    top_cost_proc = claim_type_selected.groupby(['proc_code','proc_code_format'])['eacl_prv_alcrg_at'].sum().reset_index()
    top_cost_proc.sort_values(by ='eacl_prv_alcrg_at',ascending = False,inplace = True)
    merged_top_cost_proc = top_cost_proc.merge(hcpc_doc,how = 'left',left_on = 'proc_code',right_on = 'HCPC')
    return merged_top_cost_proc

CLUSTER 5 OUTPATIENT

In [22]:
proc_cost.claim_type.unique()

array(['O', 'P', 'V', 'I', 'MM'], dtype=object)

In [10]:
top_cost_proc = top_proc_cost('O',5)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,J9035,H,604818.82,J9035,No Change,Bevacizumab injection,"Injection, bevacizumab, 10 mg"
1,J0881,H,565500.57,J0881,No Change,"Darbepoetin alfa, non-esrd","Injection, darbepoetin alfa, 1 microgram (non-..."
2,J2505,H,415665.89,J2505,No Change,"Injection, pegfilgrastim 6mg","Injection, pegfilgrastim, 6 mg"
3,J1569,H,357812.27,J1569,No Change,Gammagard liquid injection,"Injection, immune globulin, (gammagard liquid)..."
4,J2796,H,299844.17,J2796,No Change,Romiplostim injection,"Injection, romiplostim, 10 micrograms"
5,J9041,H,263837.16,J9041,No Change,"Inj., velcade 0.1 mg","Injection, bortezomib (velcade), 0.1 mg"
6,J1930,H,235875.31,J1930,No Change,Lanreotide injection,"Injection, lanreotide, 1 mg"
7,99285,H,231311.60,NaN,NaN,NaN,NaN
8,G0154,H,224892.33,G0154,No Change,"Hhcp-svs of rn,ea 15 min",Direct skilled nursing services of a licensed ...
9,G0151,H,189261.78,G0151,No Change,"Hhcp-serv of pt,ea 15 min",Services performed by a qualified physical the...

In [11]:
top_cost_proc = top_proc_cost('O',4)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,G0151,H,467868.75,G0151,No Change,"Hhcp-serv of pt,ea 15 min",Services performed by a qualified physical the...
1,G0299,H,355488.10,G0299,No Change,Hhs/hospice of rn ea 15 min,Direct skilled nursing services of a registere...
2,G0152,H,267005.06,G0152,No Change,"Hhcp-serv of ot,ea 15 min",Services performed by a qualified occupational...
3,G0154,H,254829.86,G0154,No Change,"Hhcp-svs of rn,ea 15 min",Direct skilled nursing services of a licensed ...
4,33249,H,248770.70,NaN,NaN,NaN,NaN
5,J1561,H,207898.45,J1561,No Change,Gamunex-c/gammaked,"Injection, immune globulin, (gamunex-c/gammake..."
6,99285,H,192828.23,NaN,NaN,NaN,NaN
7,66984,H,185878.89,NaN,NaN,NaN,NaN
8,J9310,H,142870.05,J9310,No Change,Rituximab injection,"Injection, rituximab, 100 mg"
9,J0881,H,137321.09,J0881,No Change,"Darbepoetin alfa, non-esrd","Injection, darbepoetin alfa, 1 microgram (non-..."

In [12]:
top_cost_proc = top_proc_cost('O',3)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,G0299,H,166326.42,G0299,No Change,Hhs/hospice of rn ea 15 min,Direct skilled nursing services of a registere...
1,J9263,H,116375.73,J9263,No Change,Oxaliplatin,"Injection, oxaliplatin, 0.5 mg"
2,J9271,H,109815.48,J9271,No Change,Inj pembrolizumab,"Injection, pembrolizumab, 1 mg"
3,J9041,H,104415.36,J9041,No Change,"Inj., velcade 0.1 mg","Injection, bortezomib (velcade), 0.1 mg"
4,J9025,H,94362.25,J9025,No Change,Azacitidine injection,"Injection, azacitidine, 1 mg"
5,J9047,H,94297.08,J9047,No Change,"Injection, carfilzomib, 1 mg","Injection, carfilzomib, 1 mg"
6,G0151,H,76366.12,G0151,No Change,"Hhcp-serv of pt,ea 15 min",Services performed by a qualified physical the...
7,33249,H,65538.14,NaN,NaN,NaN,NaN
8,J1569,H,63035.52,J1569,No Change,Gammagard liquid injection,"Injection, immune globulin, (gammagard liquid)..."
9,J0897,H,59696.54,J0897,No Change,Denosumab injection,"Injection, denosumab, 1 mg"

In [13]:
top_cost_proc = top_proc_cost('O',2)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,66984,H,162828.20,NaN,NaN,NaN,NaN
1,G0151,H,133657.89,G0151,No Change,"Hhcp-serv of pt,ea 15 min",Services performed by a qualified physical the...
2,99285,H,98078.06,NaN,NaN,NaN,NaN
3,G0154,H,94458.01,G0154,No Change,"Hhcp-svs of rn,ea 15 min",Direct skilled nursing services of a licensed ...
4,G0152,H,74486.96,G0152,No Change,"Hhcp-serv of ot,ea 15 min",Services performed by a qualified occupational...
5,99284,H,66869.52,NaN,NaN,NaN,NaN
6,G0299,H,56338.75,G0299,No Change,Hhs/hospice of rn ea 15 min,Direct skilled nursing services of a registere...
7,93306,H,55111.26,NaN,NaN,NaN,NaN
8,C1882,H,54582.89,C1882,No Change,"Aicd, other than sing/dual","Cardioverter-defibrillator, other than single ..."
9,83970,H,52959.63,NaN,NaN,NaN,NaN

In [14]:
top_cost_proc = top_proc_cost('O',1)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,66984,H,44599.62,NaN,NaN,NaN,NaN
1,99285,H,34300.49,NaN,NaN,NaN,NaN
2,93656,H,27778.59,NaN,NaN,NaN,NaN
3,99284,H,24314.30,NaN,NaN,NaN,NaN
4,83970,H,22275.32,NaN,NaN,NaN,NaN
5,J9310,H,20949.97,J9310,No Change,Rituximab injection,"Injection, rituximab, 100 mg"
6,93306,H,17944.11,NaN,NaN,NaN,NaN
7,43239,H,16067.21,NaN,NaN,NaN,NaN
8,82306,H,15947.04,NaN,NaN,NaN,NaN
9,G0378,H,15608.13,G0378,No Change,Hospital observation per hr,"Hospital observation service, per hour"

In [15]:
top_cost_proc = top_proc_cost('P',5)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,J0256,H,797996.40,J0256,No Change,Alpha 1 proteinase inhibitor,"Injection, alpha 1 proteinase inhibitor (human..."
1,J7686,H,734346.48,J7686,No Change,"Treprostinil, non-comp unit","Treprostinil, inhalation solution, fda-approve..."
2,99214,H,546790.84,NaN,NaN,NaN,NaN
3,99232,H,449955.92,NaN,NaN,NaN,NaN
4,99213,H,294149.81,NaN,NaN,NaN,NaN
5,99233,H,273276.99,NaN,NaN,NaN,NaN
6,99223,H,261062.31,NaN,NaN,NaN,NaN
7,J1745,H,252960.24,J1745,No Change,Infliximab not biosimil 10mg,"Injection, infliximab, excludes biosimilar, 10 mg"
8,E1390,H,223602.55,E1390,No Change,Oxygen concentrator,"Oxygen concentrator, single delivery port, cap..."
9,A0427,H,209464.32,A0427,No Change,Als1-emergency,"Ambulance service, advanced life support, emer..."

In [16]:
top_cost_proc = top_proc_cost('P',4)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,99214,H,1317339.73,NaN,NaN,NaN,NaN
1,99213,H,711077.26,NaN,NaN,NaN,NaN
2,99232,H,617253.90,NaN,NaN,NaN,NaN
3,99233,H,405950.46,NaN,NaN,NaN,NaN
4,99223,H,392143.46,NaN,NaN,NaN,NaN
5,E1390,H,366161.29,E1390,No Change,Oxygen concentrator,"Oxygen concentrator, single delivery port, cap..."
6,A0427,H,290295.05,A0427,No Change,Als1-emergency,"Ambulance service, advanced life support, emer..."
7,99285,H,242253.44,NaN,NaN,NaN,NaN
8,97110,H,197724.80,NaN,NaN,NaN,NaN
9,99291,H,190855.87,NaN,NaN,NaN,NaN

In [17]:
top_cost_proc = top_proc_cost('P',3)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,J7686,H,429626.64,J7686,No Change,"Treprostinil, non-comp unit","Treprostinil, inhalation solution, fda-approve..."
1,99214,H,276877.99,NaN,NaN,NaN,NaN
2,J9310,H,153862.74,J9310,No Change,Rituximab injection,"Injection, rituximab, 100 mg"
3,99213,H,123930.67,NaN,NaN,NaN,NaN
4,99232,H,111658.37,NaN,NaN,NaN,NaN
5,99223,H,70497.26,NaN,NaN,NaN,NaN
6,99233,H,70245.92,NaN,NaN,NaN,NaN
7,S9348,H,50715.38,S9348,No Change,Hit sympathomim diem,"Home infusion therapy, sympathomimetic/inotrop..."
8,A0427,H,49831.33,A0427,No Change,Als1-emergency,"Ambulance service, advanced life support, emer..."
9,99285,H,49363.39,NaN,NaN,NaN,NaN

In [18]:
top_cost_proc = top_proc_cost('P',2)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,99214,H,715208.59,NaN,NaN,NaN,NaN
1,99213,H,418719.19,NaN,NaN,NaN,NaN
2,99232,H,157019.03,NaN,NaN,NaN,NaN
3,97110,H,148667.45,NaN,NaN,NaN,NaN
4,99223,H,101652.89,NaN,NaN,NaN,NaN
5,E1390,H,101493.09,E1390,No Change,Oxygen concentrator,"Oxygen concentrator, single delivery port, cap..."
6,92014,H,94072.96,NaN,NaN,NaN,NaN
7,66984,H,92650.58,NaN,NaN,NaN,NaN
8,99285,H,87877.63,NaN,NaN,NaN,NaN
9,99233,H,86998.55,NaN,NaN,NaN,NaN

In [19]:
top_cost_proc = top_proc_cost('P',1)
top_cost_proc.head(10)

,proc_code,proc_code_format,eacl_prv_alcrg_at,HCPC,ACTION CD,SHORT DESCRIPTION,LONG DESCRIPTION
0,99214,H,178250.90,NaN,NaN,NaN,NaN
1,99213,H,108955.38,NaN,NaN,NaN,NaN
2,37227,H,28050.74,NaN,NaN,NaN,NaN
3,99203,H,27522.89,NaN,NaN,NaN,NaN
4,66984,H,25430.97,NaN,NaN,NaN,NaN
5,99204,H,24490.21,NaN,NaN,NaN,NaN
6,99285,H,24317.35,NaN,NaN,NaN,NaN
7,99232,H,23804.53,NaN,NaN,NaN,NaN
8,97110,H,22692.79,NaN,NaN,NaN,NaN
9,99223,H,20515.04,NaN,NaN,NaN,NaN

In [20]:
top_cost_proc = top_proc_cost('DR',1)
top_cost_proc.head(10)

Empty DataFrame
Columns: [proc_code, proc_code_format, eacl_prv_alcrg_at, HCPC, ACTION CD, SHORT DESCRIPTION, LONG DESCRIPTION]
Index: []

In [38]:
#out of all the patients, what is the most common diagnosis(in terms of unique patient )
common_diagnosis_patient = pd.DataFrame()
for i in range(17):
    clean = pd.read_csv('cleaned_{}.csv'.format(str(i)))
    g = clean.groupby(['TMA_Acct','claim_type','pri_diag_cd','prim_diag_qfr_cd'])['eacl_prv_alcrg_at'].sum().reset_index()
    proc_cost = pd.concat([proc_cost,g],axis = 0)

1        757
4       1150
10      1767
11      1935
12      2041
       ...
810    49795
813    49926
829    50523
833    50683
835    50838
Name: tma_acct, Length: 130, dtype: int64